<style>
    #footer{
        background-color: black;
        color: #fff;
        font-family: monospace;
    }
    
    .para{
        font-size: 15px;
    }
    
    
    .media ul li{
        float: left;
            padding-left: 20px;
        font-size: 28px;
    
    }
    .media ul li a{
        color: #fff;
        transition: 0.5s ease-in-out;
    }
    
    .media ul li a:hover{
        color: #346fcf;
    }
    .cont{
        font-size: 16px;
    }
    .btn-info{
        transition: 0.3s;
        letter-spacing: 2px;
        font-size: 15px;
        
        color: black;
        background-color: white;
            border-color: white;
        }
    
    }
    .btn-info:hover{
      background-color: white;	
    }
    h2{
        color: white;
        font-size: 32px;
    }
.body{
    background-color: black;
}
.bg-contact100 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div {
    display: block;
}
.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.wrap-contact100 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
}
.contact100-pic {
    width: 310px;
    padding-top: 55px;
}
.contact100-form {
    width: 390px;
}
.contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
}
.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
}
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(132,106,221, 0.5);
}
.symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
input.input100[name="email"] {
    padding: 0 30px 0 54px;
}
textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
}
.input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}
.container-contact100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #e8e8e8;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}
textarea {
    overflow: auto;
    resize: vertical;
}
textarea {
    outline: none;
    border: none;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}button, input, optgroup, select, textarea {
    margin: 0;
    }
    input {
        outline: none;
        border: none;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .fa-user:before {
        content: "\f007";
    }
    .fa-envelope:before {
        content: "\f0e0";
    }
    </style>
